<section class="card">
  <div class="grid">
    <img src="{{filmeSelecionado.img}}" alt="Cartaz {{filmeSelecionado.nome}}">
    <h1>{{filmeSelecionado.nome}}</h1>
    <p>Classificação: <span>A12</span></p>
    <label>Dublado</label>
    <div>
      <h2>Grupo Cine Rio Claro Rio Claro / SP</h2>
      <p>Av Conde francisco Matarazzo Junior, 205 - Vila Paulista</p>
    </div>
  </div>

  <hr>

    <div class="info-data">
      <span>14/01/2024 14:45</span>
      <span>Rio Claro - Sala 03</span>
    </div>

  <hr>

  <div class="detalhes-compra" [ngClass]="{ 'adquirido': ingressos.qtdIngressos > 0 }">
    <div class="detalhes-ingressos">
      @if (ingressos.qtdIngressos > 1) {
        <p>{{ ingressos.qtdIngressos }} Ingressos</p>
      } @else {
        <p>{{ ingressos.qtdIngressos }} Ingresso</p>
      }
      <span>R$ {{ ingressos.valor }}</span>
    </div>

    <button class="botao-comprar" (click)="comprar()">Comprar Ingressos</button>
  </div>
</section>
