@use '../../../base/colors';
@use '../../../base/mixins';

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr, auto;
  grid-template-areas:
    "lado-esquerdo lado-direito"
    "tela tela";
  row-gap: 4rem;
  column-gap: 3rem;

  #lado-esquerdo {
    grid-area: lado-esquerdo;
    @include mixins.grid-poltronas();
  }

  #lado-direito {
    grid-area: lado-direito;
    @include mixins.grid-poltronas();
  }

  .poltrona {
    display: flex;
    justify-content: center;

    button {
      @include mixins.borda(transparent, 3px);
      background: colors.$verde;
      cursor: pointer;

      img {
        width: 50px;
      }

      &:hover {
        border-color: colors.$azul-claro;
      }
    }

    .selection {
      background: colors.$azul-claro !important;
    }

    label {
      position: absolute;
      transform: translateY(70%);
      font-size: .7rem;
      font-weight: 700;
      color: colors.$branco;
    }
  }

  .tela {
    grid-area: tela;
    text-align: center;
    background: colors.$azul;
    color: colors.$branco;
    padding: .8rem 0;
  }
}
