@use '../../../base/colors';
@use '../../../base/mixins';
@use '../../../base/properties';

.grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;

  .grid-poltronas {
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: 1fr, auto;
    grid-template-areas:
      "lado-esquerdo lado-direito"
      "tela tela";
    row-gap: 2rem;
    column-gap: 1.7rem;

    #lado-esquerdo {
      grid-area: lado-esquerdo;
      @include mixins.grid-poltronas();
    }

    #lado-direito {
      grid-area: lado-direito;
      @include mixins.grid-poltronas();
    }

    .poltrona {
      display: flex;
      justify-content: center;
      min-width: 55px;
      border-radius: 8px;
      transition:
        transform properties.$tempo-transacao ease;

      button {
        @include mixins.borda(transparent);
        background: colors.$verde;
        cursor: pointer;

        img {
          max-width: 100%;
        }
      }

      .selection {
        background: colors.$azul-claro !important;
      }

      label {
        position: absolute;
        transform: translateY(40%);
        font-size: .7rem;
        font-weight: 700;
        color: colors.$branco;
        cursor: pointer;

        &::before {
          content: "Nº ";
        }
      }

      &:hover {
        z-index: 1;
        transform: scale(140%);
        box-shadow: 0 0 3px colors.$preto;
      }
    }

    .tela {
      grid-area: tela;
      text-align: center;
      background: colors.$azul;
      color: colors.$branco;
      padding: .8rem 0;
    }
  }

  .ingressos {
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  .grid {
    .grid-poltronas {

      #lado-esquerdo {
        gap: 0px;
      }

      #lado-direito {
        gap: 0px;
      }

      .poltrona {
        min-width: auto;

        button {
          img {
            display: none;
          }
        }
      }

      .tela {
        padding: .8rem 0;
        height: 20px;
      }

      label {
        position: static;

        &::before {
          display: none;
        }
      }
    }
  }

}


