@use '../../base/colors';
@use '../../base/mixins';

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 4rem;

  .card-filme {
    @include mixins.borda(transparent, 0px);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "img"
      "botao";
    background: colors.$preto-opaco;
    width: 115px;
    height: 215px;
    transition:
      transform .3s ease,
      height .3s ease;

    img {
      grid-area: img;
      max-width: 100%;
      border-radius: 8px 8px 0 0;
    }

    .botao-comprar {
      grid-area: botao;
      justify-self: center;
      align-self: center;
      text-align: center;
      @include mixins.borda(transparent);
      background: colors.$vermelho;
      color: colors.$branco;
      padding: .3rem 1rem;
      cursor: pointer;
      font-weight: 600;
      font-size: .8rem;
      transition:
        box-shadow .3s ease,
        font-size .1s ease;

      &:hover {
        box-shadow: 0 0 4px colors.$branco;
      }
    }

    &:hover {
      $scale: 170%;

      z-index: 1;
      transform: translateY(calc(($scale - 100%) / 2)) scale($scale);
      box-shadow: 0 0 3px colors.$preto;

      .botao-comprar {
        font-size: .5rem;
        font-weight: 700;
      }

      &.card-filme {
        height: 205px;
      }
    }
  }
}
