@use './app/base/colors';
@use './app/base/mixins';

@import 'reset-css';

a {
  text-decoration: none;
}

body {
  background: colors.$preto;
}

.card {
  @include mixins.borda(transparent);
  background: colors.$preto-opaco;
  padding: 1rem;
}
