@use './colors';

@mixin borda($cor, $borda: 1px) {
  border: solid $borda $cor;
  border-radius: 8px;
}

@mixin grid-poltronas() {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(9, auto);
  gap: .5rem;
}
